
WEBSITE=
CONNECTION_LIMIT=
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DATABASE_DIALET=
DB_PORT=
PORT=
PORT2=
FRONTEND_URL=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_HOST=
MAIL_PORT=
ACCESS_TOKEN_SECRET =
ACCESS_TOKEN_EXPIRES_IN =

REFRESH_TOKEN_SECRET =
REFRESH_TOKEN_EXPIRES_IN =

JWT_SECRET=
JWT_EXPIRES_IN=

RESET_TOKEN_SECRET=
RESET_TOKEN_EXPIRES_IN=

GOOGLE_MAPS_API_KEY=

# API Key for apiip.net
APIIP_ACCESS_KEY=

NODE_ENV=development

STREAM_API_KEY=
STREAM_API_SECRET=

#MEDIASOUP_ANNOUNCED_IP=
MEDIASOUP_ANNOUNCED_IP=
MAX_LOGIN_ATTEMPTS=
